*{
  margin: 0;
  padding: 0;

}
body{
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
}

header,main,footer{
  max-width: 640;
  margin:1px auto;
  padding: 1rem;
  background-color: #5e9eec;
  border: 1px solid #000;
}

main{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1fr;
}

section{
  background-color: #f6f7fa;
  padding: 1em;
  
}